!!!
%html{:lang => 'ja'}
  %head
    %meta{:charset => 'UTF-8'}
    %link{:href => '/favicon.ico', :rel => 'shortcut icon'}
    %link{:href => '//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css', :rel => 'stylesheet'}
    %link{:href => '//fonts.googleapis.com/css?family=Rammetto+One', :rel => 'stylesheet'} 
    %link{:href => 'style.css', :rel => 'stylesheet'} 

    %title Sphere Colors
    %script{:type => 'text/javascript'}
      :plain
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23712459-3']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body
    .container
      %header
        #title
          %h1 Sphere Colors
      .row.show-grid
        %div{:class => "span12 grid-large #{@sphere['color']}"}
          = @sphere['name']
      .row.show-grid
        - @sphere["members"].each do |member|
          %div{:class => "span3 grid-normal #{member['color']}"}
            = member['name']
      - @sphere["songs"].each_slice(3) do |songs|
        .row.show-grid
          - songs.each do |song| 
            %div{:class => "span4 grid-small #{song['color']}"}
              = song['title']
